@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main-container {
  max-width: 16rem;
  margin: 2rem auto;
}

.profile-container {
  max-width: 21.75rem;
  margin: auto;
}

.profile-content {
  max-width: 13.5rem;
  text-align: center;
}

.profile-pic img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  margin: 2rem auto;
}
