@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main-container {
  max-width: 66.67%;
  margin: 2rem auto;
  height: auto;
}
/* .profile-container start */
.profile-container {
  max-width: 36.25%;
  margin: 0.5rem auto;
}
/* .profile-content start */
.profile-content {
  max-width: 62%;
  text-align: center;
  margin: 0.5rem auto 1.5rem;
}

.profile-pic img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  margin: 1.5rem auto;
}

p.name {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.21;
  color: rgba(78, 81, 80, 1);
}

p.country,
p.tag {
  font-size: 0.875rem;
  line-height: 1.21;
}
p.country {
  margin-top: 0.5rem;
  color: rgba(169, 169, 169, 1);
}
/*.profile-content end  */

/* profile-stats :start */

.profile-stats {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

p.number {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.21;
  color: rgba(78, 81, 80, 1);
}
p.tag {
  color: rgba(189, 189, 189, 1);
}
.stats {
  text-align: center;
  padding: 1rem 2rem;
  background-color: #e5e5e5;
  margin: 0 0.75rem;
  border-radius: 24px;
}
/* .profile-stats :end */

/* gallery :start */

.gallery {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "pic-1 pic-2 pic-2"
    "pic-3 pic-3 pic-4"
    "pic-6 pic-5 pic-4";
  grid-column-gap: 1.5em;
  grid-row-gap: 1em;
}

img.grid {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.pic-1 {
  grid-area: pic-1;
}
.pic-2 {
  grid-area: pic-2;
}
.pic-3 {
  grid-area: pic-3;
}
.pic-4 {
  grid-area: pic-4;
}
.pic-5 {
  grid-area: pic-5;
}
.pic-6 {
  grid-area: pic-6;
}

.pic-4 .grid {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

/* .gallery :end */
/* footer */
footer {
  margin-top: 4.5rem;
  margin-bottom: 3.5rem;
  text-align: center;
  color: rgba(169, 169, 169, 1);
  font-size: 0.875rem;
  font-weight: 600;
}
/* media queries */
/* below 1240px */
@media (max-width: 1240px) {
  .main-container {
    max-width: 75%;
  }

  .profile-content img {
    max-width: 90%;
    height: auto;
  }
  p.name {
    font-size: 1.2rem;
  }

  p.country {
    font-size: 0.75rem;
  }
  .gallery {
    row-gap: 0.75em;
    column-gap: 1em;
  }
  p.number {
    font-size: 1rem;
  }
}

/* below 942px */
@media (max-width: 942px) {
  .main-container {
    max-width: 85%;
  }
  .profile-content img {
    max-width: 85%;
    height: auto;
  }
  p.name {
    font-size: 1rem;
  }

  p.country {
    font-size: 0.625rem;
  }
  .stats {
    text-align: center;
    padding: 0.75rem 1.25rem;
    background-color: #e5e5e5;
    margin: 0 0.75rem;
    border-radius: 18px;
  }
  footer {
    margin: 2.5rem;
    margin-bottom: 0.75rem;
  }
}

@media (max-width: 752px) {
  .main-container {
    max-width: 95%;
  }
  .profile-content img {
    margin: 0.8rem auto;
  }

  .gallery {
    row-gap: 0.5rem;
    column-gap: 0.75rem;
  }
  .pic-4 .grid {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }

  .profile-stats {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .stats {
    text-align: center;
    padding: 0.75rem 1.25rem;
    background-color: #e5e5e5;
    margin: 0 0.75rem;
    border-radius: 12px;
  }

  p.name {
    font-size: 0.8rem;
  }
  p.country {
    font-size: 0.625rem;
  }
  p.number,
  p.tag {
    font-size: 0.75rem;
  }
  footer {
    margin: 2.25rem;
    margin-bottom: 0.67rem;
  }
}

@media (max-width: 465px) {
  .profile-container {
    max-width: 100%;
  }
  .profile-content {
    max-width: 50%;
  }
  .profile-content img {
    max-width: 50%;
    height: auto;
    margin: 0.5rem auto;
  }
  footer {
    margin: 2rem;
    margin-bottom: 0.5rem;
  }
}
